<div class="html">
    <div class="container mt-4">
        <!-- first-section-starts -->
        <section class="user-overview">
                <h2 class="pt-3">User Overview</h2>
               <div class="user">
                <div class="row">
                    <div class="col-sm-4 col-md-6 col-lg-4 " *ngFor="let user of useroverview">

                        <div class="card shadow box mb-3"> 
                            <div class="card-body">

                                <div class="row  mb-4 main">
                                    
                                        <div class="col-sm-6">
                                            <h2>{{user.progress}}</h2>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="number">
                                                <h2>{{user.percentage}}</h2>
                                            </div>
                                        </div>
                                </div>
            
                                <div class="row ">
            
                                    <div class="col-md-9">
                                        <i class="fa-solid fa-circle circle"></i><span> in-Progress</span>
                                    </div>
                                    <div class="col-md-3">
                                        <h3> 34%</h3>
                                    </div>
            
                                </div>
            
                                <div class="progressbar mt-2">
                                    <div class="progressbar2">
            
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
               </div>

            </section>
        <!-- second-section-starts -->
       <section class="loans mb-5">
                    <h2>Loan</h2>
                    <div class="loan-container">
                        <div class="row loan-box">
                            <div class="col-md-4 bg-purple mb-2">
                                <div class="loanvector loanimg">
                                   <figure>
                                    <img src="../../../assets/img/coin.png" alt="">
                                    <figcaption>
                                        <p>SME Loans</p>
                                    </figcaption>
                                </figure> 
                                </div>
                                
                            </div>
                            <div class="col-md-4 four bg-purple mb-2">
                                <div class="loanvector">
                                    <figure >
                                     <img class="ml-3" src="../../../assets/img/loan center.png" alt="">
                                     <figcaption class="text-center">
                                         <p>Last Purchase <br> Order</p>
                                     </figcaption>
                                 </figure>
                                  <button class="btn-lg btn btn-light px-5">Apply</button>
                                 </div>
                            </div>
                            <div class="col-md-4 four bg-purple mb-2">
                                <div class="loanvector img3">
                                    <figure>
                                     <img src="../../../assets/img/vector2 icon.png" alt="">
                                     <figcaption>
                                         <p>Invoice</p>
                                     </figcaption>
                                 </figure> 
                                 
                                 </div>
                            </div>
                        </div>
                    </div>
                    <img class="vector2" src="../../../assets/img/Vector 2.png" alt="">
               </section>
        <!-- third-section-starts -->
        <section class="last-section">
            <div class="card py-3 rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="images">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2>lorem Ipsum</h2>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta ex earum dignissimos quas ab nobis molestiae, at rem sint cupiditate reiciendis nemo assumenda non iusto provident a beatae quo voluptatem. Nesciunt exercitationem quis consectetur?
                        </div>
                    </div>
                    <hr>
                    <div class="row reverse mb-5">
                        <div class="col-md-3">
                            <div class="images">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2>lorem Ipsum</h2>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta ex earum dignissimos quas ab nobis molestiae, at rem sint cupiditate reiciendis nemo assumenda non iusto provident a beatae quo voluptatem. Nesciunt exercitationem quis consectetur?
                        </div>
    
                    </div>
    
                    <div class="row mb-2 text-white text-center">
                        <div class="col-md-3">
                            <div class="images textrelative text-center">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="">
                                <div class="textabosolute">
                                    <h2>Lorem Ipsum dolor</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="images textrelative">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="">
                                <div class="text-center textabosolute">
                                    <h2>Lorem Ipsum dolor</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="images textrelative">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="">
                                <div class="text-center textabosolute">
                                    <h2>Lorem Ipsum dolor</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="images textrelative">
                                <img class="imageone" src="../../../assets/img/Frame .png" alt="" >
                                <div class="text-center textabosolute">
                                    <h2>Lorem Ipsum dolor</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>   
    
        </section>
        
    </div>




</div>