

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="heading d-flex justify-content-between flex-direction-row">
                <h2>
                    Charts
                </h2>
                <h4>
                    Click Here for Empty Page
                </h4>
            </div>
            <canvas baseChart class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
            </canvas>
    
            <div class="card mt-2">
                <div class="card-body">
                    <h2 class="demo">DemoGraphy</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row bar">
                                <div class="col-sm-3">
                                    <h2 class="mb-0">Bihar</h2>
    
                                </div>
                                <div class="col-sm-9">
                                    <div class="d-flex">
                                        <div class="progressbar"></div>
                                        <h2 class="ml-2">59%</h2>
    
                                    </div>
                                </div>
    
    
                            </div>
    
    
                            <div class="row bar">
                                <div class="col-sm-3">
                                    <h2 class="mb-0">Delhi</h2>
    
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex">
    
                                        <div class="progressbar2"></div>
                                        <h2 class="ml-2">31%</h2>
                                    </div>
    
                                </div>
    
    
                            </div>
    
    
                            <div class="row bar">
                                <div class="col-sm-3">
                                    <h2 class="mb-0">Up</h2>
    
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex ">
                                        <div class="progressbar3"></div>
                                        <h2 class="ml-2">10%</h2>
                                    </div>
    
                                </div>
    
    
                            </div>
    
                        </div>
                    </div>
    
    
                </div>
            </div>
    
        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>